<div class="main-container__body">
  <section class="login-container">
    <h2 class="page-title">Login</h2>
    <article class="login-control">
      <form #loginForm="ngForm" (keyup.enter)="onLogin(userObj);$event.preventDefault(); $event.stopPropagation();">
        <ul class="form-fields">
          <li class="field-label">
            <mat-form-field floatLabel="never">
              <input type="email" email matInput id="email" #email="ngModel" ngControl="email" name="email" [(ngModel)]="userObj.email"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngClass]="{'has-error': (userObj.email === '' || email.hasError('email')) && isFormSubmmited === true}"
                placeholder="Email Address" (change)="onFormChange()">
            </mat-form-field>

          </li>
          <li class="field-label">
            <mat-form-field class="btn-block" floatLabel="never">
              <input type="password" matInput id="password" ngControl="password" #password="ngModel" name="password" [(ngModel)]="userObj.password"
                placeholder="Password" autocomplete="false" [ngClass]="{'has-error':userObj.password === '' && isFormSubmmited === true}"
                (change)="onFormChange()">
            </mat-form-field>
          </li>
          <li class="row">
            <button mat-button type="button" class="button button--blue btn-block" (click)="onLogin(userObj)">LOGIN</button>
          </li>
        </ul>
      </form>
    </article>
  </section>
</div>
